body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color:#41a6e1;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title { 
    font-family: Pacifico, cursive;
}
.section-title span {
    color: #e15f41;
}

#sobre-o-restaurante,#cardapio {
    background-color: #ffeae6;
}

.text-colored { 
    color:#e15f41;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #4184e1;
    color: #fff;
}

.nav-cardapio .nav-link:hover
{
    color: #0d0300;
}
/*Para tirar os bullets para alinhar um ao lado do outro*/
.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}